
# Entornos virtuales (el más importante)
djvenv/
venv/
env/
ENV/

firstproject/static/admin/

# Python (archivos compilados)
**/__pycache__/
*.py[cod]
*$py.class

# Base de datos local (SQLite)
# Es mejor no subirla para que no haya conflictos de datos
db.sqlite3

# Archivos de configuración sensible
.env

# Archivos de editores (VS Code, PyCharm)
.vscode/
.idea/

