<html>
<body>
    <div>
        <div style="float:left;width:45%;">
            {% load static %}
            <img src="{% static book.covering %}" alt="Book Cover" style="max-width:100%;">
        </div>
        <div style="float:right;width:45%;" >
                    <p><b>ID:</b> {{ book.id }}</p>
                    <p><b>Author:</b> {{ book.author }}</p>
                    <p><b>Price:</b> {{ book.price}}</p>
                     <p><b>Publisher:</b> {{ book.publisher }}
</p>
                    {% if book.ebook %}
                    <p><b>Available as Ebook?: </b> Yes</p>
                    {% else %}
                    <p><b>Available as Ebook?: </b> No</p>
                    {% endif %}
                    <hr>
        </div>
    </div>
</body>
</html>