{% extends 'base.html' %}
{% block title %}
 Login
{% endblock %}
{% block content %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

 <div id="id01">
    <form class="modal-content animate" action="" method="POST">
         {% csrf_token %}
         <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username">
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
{% endblock %}